In [488]:
import pandas as pd

In [489]:
mumbai_city = pd.read_csv("/Users/raw/Desktop/Python_ca2/mumbai_city.csv", low_memory= False)

In [490]:
mumbai_city.head()

,Unnamed: 0,status,sqtr,prices,price_tag,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city
0,0,Under Construction,"6,848 / sq ft",59.98,L,2 BHK Apartment,in Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,"Panvel, Mumbai"
1,1,Under Construction,"37,146 / sq ft",2.89,Cr,3 BHK Apartment,in Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,"Santacruz East, Mumbai"
2,2,Under Construction,"14,280 / sq ft",94.11,L,2 BHK Apartment,in Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,"Mira Road East, Mumbai"
3,3,Under Construction,"6,813 / sq ft",1.99,Cr,5 BHK Villa,in Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,"Boisar, Mumbai"
4,4,Under Construction,"6,329 / sq ft",33.99,L,2 BHK Apartment,in Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,"Badlapur East, Mumbai"

In [491]:
mumbai_city.drop("Unnamed: 0" , axis = 1, inplace=True)

In [492]:
##### removing "in" for Apartment column
mumbai_city["Apartment"] = mumbai_city["Apartment"].str.replace("in","",1)

In [493]:
mumbai_city

,status,sqtr,prices,price_tag,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city
0,Under Construction,"6,848 / sq ft",59.98,L,2 BHK Apartment,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,"Panvel, Mumbai"
1,Under Construction,"37,146 / sq ft",2.89,Cr,3 BHK Apartment,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,"Santacruz East, Mumbai"
2,Under Construction,"14,280 / sq ft",94.11,L,2 BHK Apartment,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,"Mira Road East, Mumbai"
3,Under Construction,"6,813 / sq ft",1.99,Cr,5 BHK Villa,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,"Boisar, Mumbai"
4,Under Construction,"6,329 / sq ft",33.99,L,2 BHK Apartment,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,"Badlapur East, Mumbai"
...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,"4,744 / sq ft",51,L,2 BHK Apartment,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,"Dombivali, Mumbai"
99976,Ready to move,"3,072 / sq ft",20,L,1 BHK Apartment,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,"Andheri West, Mumbai"
99977,Ready to move,"1,249 / sq ft",20,L,5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,"Andheri West, Mumbai"
99978,Ready to move,"1,249 / sq ft",20,L,5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,"Andheri West, Mumbai"
99979,Ready to move,"9,117 / sq ft",31,L,1 BHK Apartment,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,"Bhayandar West, Mumbai"

In [494]:
mumbai_city["city"] = mumbai_city["city"].str.replace(", Mumbai","",1)

In [495]:
mumbai_city.head()

,status,sqtr,prices,price_tag,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city
0,Under Construction,"6,848 / sq ft",59.98,L,2 BHK Apartment,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel
1,Under Construction,"37,146 / sq ft",2.89,Cr,3 BHK Apartment,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East
2,Under Construction,"14,280 / sq ft",94.11,L,2 BHK Apartment,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East
3,Under Construction,"6,813 / sq ft",1.99,Cr,5 BHK Villa,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar
4,Under Construction,"6,329 / sq ft",33.99,L,2 BHK Apartment,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East

In [496]:
mumbai_city["PRICE"] = mumbai_city["prices"]+mumbai_city["price_tag"]

In [497]:
##### 

"""list = { "L":1e5 , "Cr": 1e7}


def convertor(i):
    if isinstance(i, str):
        a = i[-2:]
        if a in list:
            multiplier = list[a]
            numeric_number = float(i[:-2]) * multiplier
            return numeric_number
    return i
    """

'list = { "L":1e5 , "Cr": 1e7}\n\n\ndef convertor(i):\n    if isinstance(i, str):\n        a = i[-2:]\n        if a in list:\n            multiplier = list[a]\n            numeric_number = float(i[:-2]) * multiplier\n            return numeric_number\n    return i\n    '

In [498]:
#mumbai_city["PRICE"].apply(convertor)

In [499]:
#mumbai_city.drop(["prices","price_tag"], axis =1, inplace=True)

suffixes = {'L': 1e5, 'Cr': 1e7}

# Define a function to convert a string to a numeric value
def crore_value(cr):
    if isinstance(cr, str):
        suffix = cr[-2:]
        if suffix in suffixes:
            multiplier = suffixes[suffix]
            numeric_value = float(cr[:-2]) * multiplier
            return numeric_value
    return cr
def lakh_value(l):
    if isinstance(l, str):
        suffix = l[-1]
        if suffix in suffixes:
            multiplier = suffixes[suffix]
            numeric_value = float(l[:-1]) * multiplier
            return numeric_value
        #elif suffix == 'L':
            numeric_value = float(l[:-1]) * 1e5
            return numeric_value
    return l

In [500]:
#mumbai_city["PRICE"]= mumbai_city["PRICE"].apply(convert_value)
#mumbai_city["PRICE"] = mumbai_city["PRICE"].apply(convert_value1)

mumbai_city["PRICE"] = mumbai_city["PRICE"].apply(crore_value)
mumbai_city["PRICE"] = mumbai_city["PRICE"].apply(lakh_value)

In [501]:
#if column.dtype == 'float':
        #return column.apply(lambda x: int(x))
"""def convertor(column):
    if column.dtype == 'float':
        return column.apply(lambda x: int(x))
    else:
        pass"""

"def convertor(column):\n    if column.dtype == 'float':\n        return column.apply(lambda x: int(x))\n    else:\n        pass"

In [502]:
mumbai_city["PRICE"].isnull().sum()

1

In [503]:
mumbai_city["PRICE"].dropna(inplace=True)

In [504]:
mumbai_city

,status,sqtr,prices,price_tag,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE
0,Under Construction,"6,848 / sq ft",59.98,L,2 BHK Apartment,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,5998000.0
1,Under Construction,"37,146 / sq ft",2.89,Cr,3 BHK Apartment,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,28900000.0
2,Under Construction,"14,280 / sq ft",94.11,L,2 BHK Apartment,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,9411000.0
3,Under Construction,"6,813 / sq ft",1.99,Cr,5 BHK Villa,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,19900000.0
4,Under Construction,"6,329 / sq ft",33.99,L,2 BHK Apartment,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,3399000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,"4,744 / sq ft",51,L,2 BHK Apartment,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,5100000.0
99976,Ready to move,"3,072 / sq ft",20,L,1 BHK Apartment,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,2000000.0
99977,Ready to move,"1,249 / sq ft",20,L,5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0
99978,Ready to move,"1,249 / sq ft",20,L,5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0
99979,Ready to move,"9,117 / sq ft",31,L,1 BHK Apartment,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,3100000.0

In [505]:
mumbai_city.drop(["prices","price_tag"], axis =1, inplace=True)

In [506]:
## making type of apartment we have into new column

mumbai_city["Type_of_house"] = mumbai_city["bhk"].str.split().str[2]

In [507]:
mumbai_city["Type_of_house"].unique()

array(['Apartment', 'Villa', 'Studio', nan, 'Independent', 'Penthouse'],
      dtype=object)

In [508]:
mumbai_city

,status,sqtr,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house
0,Under Construction,"6,848 / sq ft",2 BHK Apartment,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,5998000.0,Apartment
1,Under Construction,"37,146 / sq ft",3 BHK Apartment,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,28900000.0,Apartment
2,Under Construction,"14,280 / sq ft",2 BHK Apartment,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,9411000.0,Apartment
3,Under Construction,"6,813 / sq ft",5 BHK Villa,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,19900000.0,Villa
4,Under Construction,"6,329 / sq ft",2 BHK Apartment,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,3399000.0,Apartment
...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,"4,744 / sq ft",2 BHK Apartment,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,5100000.0,Apartment
99976,Ready to move,"3,072 / sq ft",1 BHK Apartment,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,2000000.0,Apartment
99977,Ready to move,"1,249 / sq ft",5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0,Independent
99978,Ready to move,"1,249 / sq ft",5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0,Independent
99979,Ready to move,"9,117 / sq ft",1 BHK Apartment,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,3100000.0,Apartment

In [509]:
### now removing a extra apartment part in bhk column

mumbai_city["bhk"] = mumbai_city["bhk"].str.split().apply(lambda x: " ".join([word for i, word in enumerate(x) if i != 2]))

In [510]:
mumbai_city

,status,sqtr,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house
0,Under Construction,"6,848 / sq ft",2 BHK,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,5998000.0,Apartment
1,Under Construction,"37,146 / sq ft",3 BHK,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,28900000.0,Apartment
2,Under Construction,"14,280 / sq ft",2 BHK,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,9411000.0,Apartment
3,Under Construction,"6,813 / sq ft",5 BHK,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,19900000.0,Villa
4,Under Construction,"6,329 / sq ft",2 BHK,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,3399000.0,Apartment
...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,"4,744 / sq ft",2 BHK,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,5100000.0,Apartment
99976,Ready to move,"3,072 / sq ft",1 BHK,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,2000000.0,Apartment
99977,Ready to move,"1,249 / sq ft",5 BHK Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0,Independent
99978,Ready to move,"1,249 / sq ft",5 BHK Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0,Independent
99979,Ready to move,"9,117 / sq ft",1 BHK,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,3100000.0,Apartment

In [511]:
mumbai_city["sqft"] = mumbai_city["sqtr"].str.replace(" / sq ft", "")

In [512]:
mumbai_city.head()

,status,sqtr,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house,sqft
0,Under Construction,"6,848 / sq ft",2 BHK,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,5998000.0,Apartment,"6,848"
1,Under Construction,"37,146 / sq ft",3 BHK,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,28900000.0,Apartment,"37,146"
2,Under Construction,"14,280 / sq ft",2 BHK,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,9411000.0,Apartment,"14,280"
3,Under Construction,"6,813 / sq ft",5 BHK,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,19900000.0,Villa,"6,813"
4,Under Construction,"6,329 / sq ft",2 BHK,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,3399000.0,Apartment,"6,329"

In [513]:
mumbai_city.drop("sqtr",axis=1 , inplace= True)

In [514]:
#we can use this same function for the whole column but did differently used both function and lambda in above 
 
def removing_words(x, index_number):
    words = x.split()
    filtering_words = [word for z, word in enumerate(words) if z != index_number]
    return " ".join(filtering_words)

In [515]:
mumbai_city["bhk"] = mumbai_city["bhk"].apply(lambda x: removing_words(x,1))

In [516]:
mumbai_city["bhk"].unique()

array(['2', '3', '5', '1', '1 Apartment', '4', 'Residential', '5 Floor',
       '2 House', '1 House', '2 Apartment', '4 House', '1 Floor',
       '3 Floor', '3 House', '6', '4 Floor', '8', '10', '7', '9',
       '5 House', '2 Floor', '6 House', '8 House', '9 House', '6 Floor',
       '10 Floor', '15', '12'], dtype=object)

In [517]:


mumbai_city["bhk"]= mumbai_city["bhk"].apply(lambda x : removing_words(x,1))
# two times becoz we still had the remaining terms

In [518]:
mumbai_city["bhk"].unique()

array(['2', '3', '5', '1', '4', 'Residential', '6', '8', '10', '7', '9',
       '15', '12'], dtype=object)

In [519]:
import numpy as np

"""for row, label in mumbai_city.iterrows():
    for i in str(label["PRICE"]):
        if i == "L":
            
           mumbai_city["new"] = label["PRICE"].replace("L","")
           mumbai_city["new"]*100000
           
        elif i == "C":
            #Crore = label["PRICE"].replace
            mumbai_city["new"]= label["PRICE"].replace("CR","")
            mumbai_city["new"]*10000000

               
            
            
            """

'for row, label in mumbai_city.iterrows():\n    for i in str(label["PRICE"]):\n        if i == "L":\n            \n           mumbai_city["new"] = label["PRICE"].replace("L","")\n           mumbai_city["new"]*100000\n           \n        elif i == "C":\n            #Crore = label["PRICE"].replace\n            mumbai_city["new"]= label["PRICE"].replace("CR","")\n            mumbai_city["new"]*10000000\n\n               \n            \n            \n            '

In [520]:
#df['Value'] = df['Value'].round(3)
mumbai_city

,status,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house,sqft
0,Under Construction,2,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,5998000.0,Apartment,"6,848"
1,Under Construction,3,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,28900000.0,Apartment,"37,146"
2,Under Construction,2,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,9411000.0,Apartment,"14,280"
3,Under Construction,5,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,19900000.0,Villa,"6,813"
4,Under Construction,2,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,3399000.0,Apartment,"6,329"
...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,2,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,5100000.0,Apartment,"4,744"
99976,Ready to move,1,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,2000000.0,Apartment,"3,072"
99977,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0,Independent,"1,249"
99978,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0,Independent,"1,249"
99979,Ready to move,1,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,3100000.0,Apartment,"9,117"

In [521]:
#mumbai_city["price_tag"] = mumbai_city["price_tag"].str.replace("L","100000")
#mumbai_city["price_tag"] = mumbai_city["price_tag"].str.replace("Cr","10000000")

In [522]:
#mumbai_city["final_price"] = mumbai_city["prices"] + mumbai_city["price_tag"]
mumbai_city

,status,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house,sqft
0,Under Construction,2,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,5998000.0,Apartment,"6,848"
1,Under Construction,3,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,28900000.0,Apartment,"37,146"
2,Under Construction,2,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,9411000.0,Apartment,"14,280"
3,Under Construction,5,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,19900000.0,Villa,"6,813"
4,Under Construction,2,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,3399000.0,Apartment,"6,329"
...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,2,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,5100000.0,Apartment,"4,744"
99976,Ready to move,1,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,2000000.0,Apartment,"3,072"
99977,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0,Independent,"1,249"
99978,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,2000000.0,Independent,"1,249"
99979,Ready to move,1,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,3100000.0,Apartment,"9,117"

In [523]:
mumbai_city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99980 entries, 0 to 99979
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   status         99980 non-null  object
 1   bhk            99980 non-null  object
 2   Apartment      83485 non-null  object
 3   possesion      99878 non-null  object
 4   size           99980 non-null  int64
 5   latitude       99980 non-null  float64
 6   longitude      99980 non-null  float64
 7   seller_type    99980 non-null  object
 8   city           99979 non-null  object
 9   PRICE          99979 non-null  float64
 10  Type_of_house  99324 non-null  object
 11  sqft           99980 non-null  object
dtypes: float64(3), int64(1), object(8)
memory usage: 9.2+ MB

In [524]:
"""git remote add origin https://github.com/rishikeshwaghela/Python_ca2.git
git branch -M main
git branch -M main"""

'git remote add origin https://github.com/rishikeshwaghela/Python_ca2.git\ngit branch -M main\ngit branch -M main'