In [2]:
import pandas as pd

In [3]:
mumbai_city = pd.read_csv("/Users/raw/Desktop/Python_ca2/mumbai_city.csv", low_memory= False)

In [4]:
mumbai_city.head()

,Unnamed: 0,status,sqtr,prices,price_tag,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city
0,0,Under Construction,"6,848 / sq ft",59.98,L,2 BHK Apartment,in Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,"Panvel, Mumbai"
1,1,Under Construction,"37,146 / sq ft",2.89,Cr,3 BHK Apartment,in Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,"Santacruz East, Mumbai"
2,2,Under Construction,"14,280 / sq ft",94.11,L,2 BHK Apartment,in Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,"Mira Road East, Mumbai"
3,3,Under Construction,"6,813 / sq ft",1.99,Cr,5 BHK Villa,in Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,"Boisar, Mumbai"
4,4,Under Construction,"6,329 / sq ft",33.99,L,2 BHK Apartment,in Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,"Badlapur East, Mumbai"

In [5]:
mumbai_city.drop("Unnamed: 0" , axis = 1, inplace=True)

In [6]:
##### removing in for Apartment column
mumbai_city["Apartment"] = mumbai_city["Apartment"].str.replace("in","",1)

In [7]:
mumbai_city

,status,sqtr,prices,price_tag,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city
0,Under Construction,"6,848 / sq ft",59.98,L,2 BHK Apartment,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,"Panvel, Mumbai"
1,Under Construction,"37,146 / sq ft",2.89,Cr,3 BHK Apartment,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,"Santacruz East, Mumbai"
2,Under Construction,"14,280 / sq ft",94.11,L,2 BHK Apartment,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,"Mira Road East, Mumbai"
3,Under Construction,"6,813 / sq ft",1.99,Cr,5 BHK Villa,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,"Boisar, Mumbai"
4,Under Construction,"6,329 / sq ft",33.99,L,2 BHK Apartment,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,"Badlapur East, Mumbai"
...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,"4,744 / sq ft",51,L,2 BHK Apartment,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,"Dombivali, Mumbai"
99976,Ready to move,"3,072 / sq ft",20,L,1 BHK Apartment,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,"Andheri West, Mumbai"
99977,Ready to move,"1,249 / sq ft",20,L,5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,"Andheri West, Mumbai"
99978,Ready to move,"1,249 / sq ft",20,L,5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,"Andheri West, Mumbai"
99979,Ready to move,"9,117 / sq ft",31,L,1 BHK Apartment,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,"Bhayandar West, Mumbai"

In [8]:
mumbai_city["city"] = mumbai_city["city"].str.replace(", Mumbai","",1)

In [9]:
mumbai_city.head()

,status,sqtr,prices,price_tag,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city
0,Under Construction,"6,848 / sq ft",59.98,L,2 BHK Apartment,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel
1,Under Construction,"37,146 / sq ft",2.89,Cr,3 BHK Apartment,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East
2,Under Construction,"14,280 / sq ft",94.11,L,2 BHK Apartment,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East
3,Under Construction,"6,813 / sq ft",1.99,Cr,5 BHK Villa,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar
4,Under Construction,"6,329 / sq ft",33.99,L,2 BHK Apartment,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East

In [10]:
mumbai_city["PRICE"] = mumbai_city["prices"]+mumbai_city["price_tag"]

In [11]:
mumbai_city.drop(["prices","price_tag"], axis =1, inplace=True)

In [11]:
mumbai_city

,status,sqtr,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE
0,Under Construction,"6,848 / sq ft",2 BHK Apartment,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,59.98L
1,Under Construction,"37,146 / sq ft",3 BHK Apartment,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,2.89Cr
2,Under Construction,"14,280 / sq ft",2 BHK Apartment,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,94.11L
3,Under Construction,"6,813 / sq ft",5 BHK Villa,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,1.99Cr
4,Under Construction,"6,329 / sq ft",2 BHK Apartment,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,33.99L
...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,"4,744 / sq ft",2 BHK Apartment,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,51L
99976,Ready to move,"3,072 / sq ft",1 BHK Apartment,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,20L
99977,Ready to move,"1,249 / sq ft",5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L
99978,Ready to move,"1,249 / sq ft",5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L
99979,Ready to move,"9,117 / sq ft",1 BHK Apartment,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,31L

In [12]:
## making type of apartment we have into new column

mumbai_city["Type_of_house"] = mumbai_city["bhk"].str.split().str[2]

In [13]:
mumbai_city["Type_of_house"].unique()

array(['Apartment', 'Villa', 'Studio', nan, 'Independent', 'Penthouse'],
      dtype=object)

In [14]:
mumbai_city

,status,sqtr,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house
0,Under Construction,"6,848 / sq ft",2 BHK Apartment,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,59.98L,Apartment
1,Under Construction,"37,146 / sq ft",3 BHK Apartment,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,2.89Cr,Apartment
2,Under Construction,"14,280 / sq ft",2 BHK Apartment,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,94.11L,Apartment
3,Under Construction,"6,813 / sq ft",5 BHK Villa,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,1.99Cr,Villa
4,Under Construction,"6,329 / sq ft",2 BHK Apartment,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,33.99L,Apartment
...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,"4,744 / sq ft",2 BHK Apartment,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,51L,Apartment
99976,Ready to move,"3,072 / sq ft",1 BHK Apartment,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,20L,Apartment
99977,Ready to move,"1,249 / sq ft",5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L,Independent
99978,Ready to move,"1,249 / sq ft",5 BHK Independent Floor,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L,Independent
99979,Ready to move,"9,117 / sq ft",1 BHK Apartment,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,31L,Apartment

In [15]:
### now removing a extra 

mumbai_city["bhk"] = mumbai_city["bhk"].str.split().apply(lambda x: " ".join([word for i, word in enumerate(x) if i != 2]))

In [16]:
mumbai_city["sqft"] = mumbai_city["sqtr"].str.replace(" / sq ft", "")

In [17]:
mumbai_city.drop("sqtr",axis=1 , inplace= True)

In [18]:
mumbai_city["PRICE"]

0        59.98L
1        2.89Cr
2        94.11L
3        1.99Cr
4        33.99L
          ...
99975       51L
99976       20L
99977       20L
99978       20L
99979       31L
Name: PRICE, Length: 99980, dtype: object

In [19]:
def removing_words(x, index_number):
    words = x.split()
    filtering_words = [word for z, word in enumerate(words) if z != index_number]
    return " ".join(filtering_words)

In [20]:
mumbai_city["bhk"] = mumbai_city["bhk"].apply(lambda x: removing_words(x,1))

In [21]:
mumbai_city["bhk"].unique()

array(['2', '3', '5', '1', '1 Apartment', '4', 'Residential', '5 Floor',
       '2 House', '1 House', '2 Apartment', '4 House', '1 Floor',
       '3 Floor', '3 House', '6', '4 Floor', '8', '10', '7', '9',
       '5 House', '2 Floor', '6 House', '8 House', '9 House', '6 Floor',
       '10 Floor', '15', '12'], dtype=object)

In [22]:
mumbai_city["bhk"]= mumbai_city["bhk"].apply(lambda x : removing_words(x,1))
# two times becoz we still had the remaining terms

In [23]:
mumbai_city["bhk"].unique()

array(['2', '3', '5', '1', '4', 'Residential', '6', '8', '10', '7', '9',
       '15', '12'], dtype=object)

In [24]:
import numpy as np

"""for row, label in mumbai_city.iterrows():
    for i in str(label["PRICE"]):
        if i == "L":
            
           mumbai_city["new"] = label["PRICE"].replace("L","")
           mumbai_city["new"]*100000
           
        elif i == "C":
            #Crore = label["PRICE"].replace
            mumbai_city["new"]= label["PRICE"].replace("CR","")
            mumbai_city["new"]*10000000

               
            
            
            """

'for row, label in mumbai_city.iterrows():\n    for i in str(label["PRICE"]):\n        if i == "L":\n            \n           mumbai_city["new"] = label["PRICE"].replace("L","")\n           mumbai_city["new"]*100000\n           \n        elif i == "C":\n            #Crore = label["PRICE"].replace\n            mumbai_city["new"]= label["PRICE"].replace("CR","")\n            mumbai_city["new"]*10000000\n\n               \n            \n            \n            '

In [24]:
mumbai_city["PRICE_modified"] = mumbai_city["PRICE"].str.replace("L", "00000").str.replace("Cr", "0000000").astype(float)

In [25]:
mumbai_city

,status,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house,sqft,PRICE_modified
0,Under Construction,2,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,59.98L,Apartment,"6,848",59.98
1,Under Construction,3,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,2.89Cr,Apartment,"37,146",2.89
2,Under Construction,2,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,94.11L,Apartment,"14,280",94.11
3,Under Construction,5,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,1.99Cr,Villa,"6,813",1.99
4,Under Construction,2,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,33.99L,Apartment,"6,329",33.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,2,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,51L,Apartment,"4,744",5100000.00
99976,Ready to move,1,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,20L,Apartment,"3,072",2000000.00
99977,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L,Independent,"1,249",2000000.00
99978,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L,Independent,"1,249",2000000.00
99979,Ready to move,1,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,31L,Apartment,"9,117",3100000.00

In [26]:
mumbai_city["PRICE_modified3"] = mumbai_city["PRICE"].str.replace("L", "00000").str.replace("Cr", "0000000").astype(float)

In [27]:
def conventor(column):
    if column == "NaN":
        pass
    else:
        return int(column)

In [47]:
mumbai_city

,status,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house,sqft,PRICE_modified,PRICE_modified3
0,Under Construction,2,Soundlines Codename Urban Rainforest,Possession by Feb 2026,876,18.944899,73.165840,BUILDER,Panvel,59.98L,Apartment,"6,848",59.98,59.98
1,Under Construction,3,Sanghvi Infenia,Possession by Dec 2026,778,19.073269,72.861008,BUILDER,Santacruz East,2.89Cr,Apartment,"37,146",2.89,2.89
2,Under Construction,2,Origin Oriana,Possession by Nov 2024,659,19.288668,72.879280,BUILDER,Mira Road East,94.11L,Apartment,"14,280",94.11,94.11
3,Under Construction,5,Agami Estancia,Possession by Jun 2024,2921,19.781849,72.802788,BUILDER,Boisar,1.99Cr,Villa,"6,813",1.99,1.99
4,Under Construction,2,Dashmesh Empire,Possession by May 2027,537,19.166450,73.236557,BUILDER,Badlapur East,33.99L,Apartment,"6,329",33.99,33.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99975,Ready to move,2,Swastik Heights,1 year old,1075,19.222940,73.088760,OWNER,Dombivali,51L,Apartment,"4,744",5100000.00,5100000.00
99976,Ready to move,1,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,20L,Apartment,"3,072",2000000.00,2000000.00
99977,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L,Independent,"1,249",2000000.00,2000000.00
99978,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L,Independent,"1,249",2000000.00,2000000.00
99979,Ready to move,1,NaN,2 Bathrooms,340,19.303495,72.833961,OWNER,Bhayandar West,31L,Apartment,"9,117",3100000.00,3100000.00

In [28]:
mumbai_miraoad = mumbai_city[mumbai_city["city"]== "Andheri West"]

In [32]:
mumbai_miraoad["bhk"].unique()

array(['3', '2', '1', '5', '4', '6', 'Residential'], dtype=object)

In [40]:
mumbai_miraoad.reset_index()

,index,status,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house,sqft,PRICE_modified,PRICE_modified3
0,7,Under Construction,3,Chaitanya Chaitanya Anand CHSL,Possession by Nov 2023,1147,19.125460,72.840607,BUILDER,Andheri West,3.44Cr,Apartment,"30,000",3.44,3.44
1,9,Under Construction,2,Asshna Seabliss,Possession by Dec 2026,685,19.132570,72.815346,BUILDER,Andheri West,2.26Cr,Apartment,"32,992",2.26,2.26
2,56,Under Construction,1,Chaitanya Chaitanya Anand CHSL,Possession by Nov 2023,359,19.125460,72.840607,BUILDER,Andheri West,1.07Cr,Apartment,"30,000",1.07,1.07
3,58,Under Construction,2,Asshna Seabliss,Possession by Dec 2026,685,19.132570,72.815346,BUILDER,Andheri West,2.26Cr,Apartment,"32,992",2.26,2.26
4,139,Under Construction,3,Chaitanya Chaitanya Anand CHSL,Possession by Nov 2023,825,19.125460,72.840607,BUILDER,Andheri West,2.47Cr,Apartment,"30,000",2.47,2.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,99934,Ready to move,1,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,20L,Apartment,"3,072",2000000.00,2000000.00
1995,99940,Ready to move,1,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,20L,Apartment,"3,072",2000000.00,2000000.00
1996,99976,Ready to move,1,Reputed Builder Wild Wood Park 2,2 Bathrooms,651,19.141182,72.812263,OWNER,Andheri West,20L,Apartment,"3,072",2000000.00,2000000.00
1997,99977,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L,Independent,"1,249",2000000.00,2000000.00
1998,99978,Ready to move,5,Reputed Builder Wild Wood Park 2,3 Bathrooms,1601,19.141182,72.812263,OWNER,Andheri West,20L,Independent,"1,249",2000000.00,2000000.00

In [43]:
mumbai_miraoad[mumbai_miraoad["bhk"]=="2"].sort_values("PRICE", ascending=True)

,status,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house,sqft,PRICE_modified,PRICE_modified3
29233,Under Construction,2,Chandiwala Pearl Heaven,Possession by Dec 2026,850,19.117813,72.870308,AGENT,Andheri West,1.05Cr,Apartment,"12,352",1.05,1.05
12844,Under Construction,2,Prime Pearl Regency,Possession by Mar 2026,850,19.135862,72.827888,AGENT,Andheri West,1.13Cr,Apartment,"13,294",1.13,1.13
40778,Under Construction,2,Prime Building No 2 Pearl Regency Phase 1,Possession by Mar 2026,489,19.120409,72.838509,AGENT,Andheri West,1.13Cr,Apartment,"23,156",1.13,1.13
40777,Under Construction,2,Prime Building No 2 Pearl Regency Phase 1,Possession by Mar 2026,489,19.120409,72.838509,AGENT,Andheri West,1.13Cr,Apartment,"23,156",1.13,1.13
40757,Under Construction,2,Prime Building No 2 Pearl Regency Phase 1,Possession by Mar 2026,489,19.120409,72.838509,AGENT,Andheri West,1.13Cr,Apartment,"23,156",1.13,1.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77258,Ready to move,2,Reputed Builder Ganga Bhavan,20 - 21 years old,1000,19.135538,72.809387,AGENT,Andheri West,5Cr,Apartment,"50,000",50000000.00,50000000.00
85555,Ready to move,2,Rustomjee Elita,6 - 7 years old,1900,19.123100,72.827972,AGENT,Andheri West,6.3Cr,Apartment,"33,157",6.30,6.30
3614,Ready to move,2,Reputed Builder Sapphire CHS,2 Bathrooms,950,19.014002,73.101501,AGENT,Andheri West,76L,Apartment,"8,000",7600000.00,7600000.00
21263,Ready to move,2,Reputed Builder Geetanjali CHS,1 Bathrooms,1000,19.257086,73.129929,AGENT,Andheri West,80L,Apartment,"8,000",8000000.00,8000000.00
62272,Ready to move,2,Reputed Builder Sterling Tower CHS,2 Bathrooms,1100,19.013044,73.099564,AGENT,Andheri West,87L,Apartment,"7,909",8700000.00,8700000.00

In [31]:
mumbai_miraoad.sort_values("PRICE" , ascending= True)

,status,bhk,Apartment,possesion,size,latitude,longitude,seller_type,city,PRICE,Type_of_house,sqft,PRICE_modified,PRICE_modified3
66447,Ready to move,1,Reputed Builder Inlaks Nagar,1 Bathrooms,430,19.140997,72.811249,AGENT,Andheri West,1.01Cr,Apartment,"23,488",1.01,1.01
93981,Ready to move,1,Lak And Hanware The Residency Tower,1 - 2 years old,340,19.131872,72.838646,BUILDER,Andheri West,1.05Cr,Apartment,"30,882",1.05,1.05
93980,Ready to move,1,Lak And Hanware The Residency Tower,1 - 2 years old,340,19.131872,72.838646,BUILDER,Andheri West,1.05Cr,Apartment,"30,882",1.05,1.05
55087,Ready to move,1,Reputed Builder Apna Ghar CHS,36 - 37 years old,550,19.134480,72.856873,AGENT,Andheri West,1.05Cr,Apartment,"19,090",1.05,1.05
93982,Ready to move,1,Lak And Hanware The Residency Tower,1 - 2 years old,340,19.131872,72.838646,BUILDER,Andheri West,1.05Cr,Apartment,"30,882",1.05,1.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18654,Ready to move,4,NaN,4 Bathrooms,1900,19.138044,72.825417,AGENT,Andheri West,9Cr,Apartment,"47,368",90000000.00,90000000.00
46608,Ready to move,5,Rajesh Raj Classic,15 years old,2660,19.140232,72.812935,AGENT,Andheri West,9Cr,Apartment,"33,834",90000000.00,90000000.00
17624,Ready to move,4,NaN,4 Bathrooms,2000,19.142899,72.824677,AGENT,Andheri West,9Cr,Apartment,"45,000",90000000.00,90000000.00
66543,Ready to move,4,Rustomjee Elita,7 - 8 years old,3210,19.123100,72.827972,AGENT,Andheri West,9Cr,Apartment,"28,037",90000000.00,90000000.00
79673,Ready to move,5,Shikhar building andheri west,7 - 8 years old,4000,19.131832,72.830727,AGENT,Andheri West,9Cr,Apartment,"22,500",90000000.00,90000000.00

In [58]:
mumbai_miraoad

Empty DataFrame
Columns: [status, bhk, Apartment, possesion, size, latitude, longitude, seller_type, city, PRICE, Type_of_house, sqft, PRICE_modified, PRICE_modified3]
Index: []

In [45]:
32*12

384